<div class="plain-text-card">
    <div class="row">
        <div class="col-md-12">
            <span class="card-heading">{{shareAbleData?.label}}</span>
        </div>
        <div class="col-md-12 mt-5">
            <span class="card-number-data">{{shareAbleData?.newWins}}</span>
        </div>
        <div class="col-md-12">
            <span class="card-up-data"><mat-icon class="arrow-up-icon">arrow_upward</mat-icon>{{shareAbleData?.newWinsPercentage}}</span>
        </div>
        <div class="col-md-12">
            <span class="card-note-data">{{shareAbleData?.newWinsComment}}</span>
        </div>
    </div>
</div>