.plain-text-card{
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 14px ;

    .row{
        height: 90%;
    }
}

.card-heading{
    font-size: 24px;
    word-spacing: 0.2px;
    font-weight: 500;
    font-family: Roboto;
    color: black;
}

.card-number-data{
    font-size: 48px;
    font-weight: 800;
    font-family: Roboto;
    color: black;
    display: table;
    margin: 0 auto;
}

.card-up-data{
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto;
    color: lightgreen;
    display: table;
    margin: 0 auto;
}
.arrow-up-icon{
    padding-top: 4px;
}
.card-note-data{
    font-size: 14px;
    font-family: Roboto;
    color: rgb(142, 142, 142);
    display: table;
    margin: 0 auto;
}